[Unit]
Description=Poll for the end of an AirPlay session

[Timer]
OnBootSec=1min
OnUnitActiveSec=8s
AccuracySec=2s

[Install]
WantedBy=timers.target
